<section class="todoapp">
  <header class="header">
    <h1>Nhắc nhở</h1>
    <input class="new-todo" placeholder="Nhập tên công việc cần thực hiện" autofocus [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </header>

  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" [checked]="todo.complete" (click)="toggleTodoComplete(todo)">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </section>

  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count">{{todos.length == 1 ? 'Chỉ còn' : ''}} <strong>{{todos.length}}</strong> nhắc nhở</span>
  </footer>
</section>